.dots {
    background-image: radial-gradient(#e9ecef 2px, transparent 2px);
    background-size: 20px 20px;
}

.divide-x > * + * {
    border-top: 1px solid #dee2e6;
}

.divide-x-md-0 > * + * {
    @media (min-width: 768px) {
        border-top: none;
    }
}

.divide-y-md > * + * {
    @media (min-width: 768px) {
        border-left: 1px solid #dee2e6;
    }
}

.border-2 {
    border-width: 2px;
}

.border-white {
    border-color: white;
}

.border-solid {
    border-style: solid;
}

.height-64 {
    height: 16rem;
}

.height-72 {
    height: 18rem;
}

.height-80 {
    height: 22rem;
}

.width-40 {
    width: 10rem;
}

.width-48 {
    width: 12rem;
}

.top-0	{
    top: 0;
}

.right-0 {
    right: 0;
}

.bottom-0 {
    bottom: 0;
}

.left-0	{
    left: 0;
}

.letter-spacing {
    letter-spacing: 1px;
}

.mb-6 {
    margin-bottom: 5rem !important;
}

.mt-6 {
    margin-top: 5rem !important;
}

.mt-7 {
    margin-top: 10rem !important;
}

.my-6 {
    margin-top: 5rem !important;
    margin-bottom: 5rem !important;
}

.py-6 {
    padding-bottom: 5rem !important;
    padding-top: 5rem !important;
}

.py-7 {
    padding-bottom: 10rem !important;
    padding-top: 10rem !important;
}

.opacity-60 {
    opacity: 0.6;
}

.text-gray-200 {
    color: #e9ecef;
}

.text-gray-300 {
    color: #dee2e6;
}

.text-gray-400 {
    color: #ced4da;
}

.text-gray-500 {
    color: #adb5bd;
}

.hover-text-secondary:hover {
    color: #6c757d;
}
