.dots {
    background-image: radial-gradient(#e9ecef 2px, transparent 2px);
    background-size: 20px 20px;
}

.divide-x > * + * {
    border-top: 1px solid #dee2e6;
}

.divide-x-md-0 > * + * {
    @media (min-width: 768px) {
        border-top: none;
    }
}

.divide-y-md > * + * {
    @media (min-width: 768px) {
        border-left: 1px solid #dee2e6;
    }
}

.height-64 {
    height: 16rem;
}

.height-72 {
    height: 18rem;
}

.height-80 {
    height: 22rem;
}

.width-8 {
    width: 4rem;
}

.width-40 {
    width: 10rem;
}

.width-48 {
    width: 12rem;
}

.letter-spacing {
    letter-spacing: 1px;
}

.my-6 {
    margin-top: 5rem !important;
    margin-bottom: 5rem !important;
}

.py-6 {
    padding-bottom: 5rem !important;
    padding-top: 5rem !important;
}

.py-md-7 {
    @media (min-width: 768px) {
        padding-bottom: 10rem !important;
        padding-top: 10rem !important;
    }
}

.text-gray-300 {
    color: #dee2e6;
}

.text-gray-500 {
    color: #adb5bd;
}

.z-n1 {
    z-index: -1;
}
